html,
#app,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto,Noto Sans,-apple-system,BlinkMacSystemFont,sans-serif;
    a.router {
        color: inherit;
        text-decoration: none;
    }
}
